.card {
	margin-bottom: 1.0em;
}

.zoom-effect {
	-webkit-transition: 0.6s ease;
}

.zoom-effect:hover {
	-webkit-transform: scale(1.05);
}

.iframe-terminal {
	width: 100%;
	height: 400px;
}

.filter-button {
	margin: 2px;
}